@font-face {
	font-family: BanderaProHeavy;
	font-display: swap;
	src: url("../fonts/BanderaProHeavy.woff") format("woff"), url("../fonts/BanderaProHeavy.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BanderaProLight;
	font-display: swap;
	src: url("../fonts/BanderaProLight.woff") format("woff"), url("../fonts/BanderaProLight.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: UF1;
	font-display: swap;
	src: url("../fonts/UF1.woff") format("woff"), url("../fonts/UF1.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
